{% extends '_auth.html' %}

{% load static %}
{% load i18n %}
{% load widget_tweaks %}


{% block title %}
    {% trans 'Verification' %}
{% endblock %}


{% block form %}
    <div class="card card-bordered">
        <div class="card-inner card-inner-lg ">

            <!-- Title -->
            <div class="nk-block-head">
                <div class="nk-block-head-content">
                    <h4 class="nk-block-title">ورود</h4>
                    <div class="nk-block-des">
                        <p style="text-align: center;">ورود به اسپادز به عنوان صاحب کسب و کار</p>
                    </div>
                </div>
            </div>

            <!-- Form -->
            <form method="post">
                {% csrf_token %}

                <!-- Phone -->
                <div class="form-group">
                    <div class="form-label-group">
                        <label class="form-label" for={{ form.phone_number.id_for_label }}>{% trans 'Enter Your Phone Number: ' %}</label>
                    </div>
                    <div class="form-control-wrap">
                        <input value="{{ phone_number }}" type="number" id="phone_number" class="form-control form-control-lg" readonly/>
                    </div>
                </div>

                <!-- OTP -->
                <div class="form-group">
                    <div class="form-label-group">
                        <label class="form-label" for={{ form.otp_code.id_for_label }}>{% trans 'Enter Your Phone Number: ' %}</label>
                    </div>
                    <div class="form-control-wrap">
                        <input type="number" name="otp" class="form-control form-control-lg" />
                    </div>
                </div>

                <!-- Submit -->
                <div class="form-group">
                    <button type="submit" class="btn btn-lg btn-primary btn-block">ورود</button>
                </div>
            </form>
            <!-- end: Form -->

        </div>
    </div>
{% endblock %}

